name: Deploy subquery develop

on:
  pull_request:
    branches: [ develop ]

env:
  SUBQUERY_CLI_VERSION: 0.2.1
  SUBQUERY_ORG: sora-xor

jobs:
  deploy-subquery:
    name: Deploy subquery to dev environment
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        chain: [ sora-dev ]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          # Install Subquery Cli
          mkdir -p $HOME/.local/bin
          curl -LO https://github.com/fewensa/subquery-cli/releases/download/v${{ env.SUBQUERY_CLI_VERSION }}/subquery-linux-x86_64.zip
          unzip subquery-linux-x86_64.zip -d $HOME/.local/bin/
          rm -rf subquery-linux-x86_64.zip

      - name: Deploy
        run: |
          set -xe

          subquery --token ${{ secrets.SUBQUERY_TOKEN }} deployment deploy \
            --org ${{ env.SUBQUERY_ORG }} \
            --key ${{ matrix.chain }} \
            --branch develop \
            --sub-folder subql/${{ matrix.chain }} \
            --type stage \
            --indexer-image-version v0.28.2 \
            --query-image-version v0.12.0 \
            --endpoint wss://ws.framenode-3.s3.dev.sora2.soramitsu.co.jp \
            --force
          echo "New deployment is executed"